<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CharityBot</title>
        <meta name="description" content="CharityBot Overlay">
        <meta name="author" content="purrcat259">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/odometer@0.4.8/themes/odometer-theme-default.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/overlay/total.css') }}">
        <script src="{{ url_for('static', filename='js/common/ajax.js') }}"></script>
        <script src="{{ url_for('static', filename='js/common/currency.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/odometer@0.4.8/odometer.min.js"></script>
        <script>
            var eventIdentifier = '{{ event_identifier }}';
            var apiAddress = '{{ api_address }}';
            var updateDelay = {{ update_delay }};
        </script>
    </head>
    <body>
        <div id="wrapper">
            <h1 id="overlayText">
                <span id="overlayAmount" class="odometer"></span>
            </h1>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/overlay/total.js') }}"></script>
</html>