.idea/
__pycache__/
.cache/
charitybot2.egg-info/
charitybot2/reporter/purrbot_config.py
tests/data/config/twitch/valid_twitch_config.json
charitybot2/data/config/twitch/purrcat259.json
tests/data/config/twitch/purrcat259.json
tests/data/config/event/fdevtest16.json
fdevchristmas16.json
fdevtest16.json
htmlcov/
.coverage
charitybot2/sources/user_agents.txt
charitybot2/data/config/event/gameblast17.json
charitybot2/data/config/api/cb2_justgiving_api_key.txt
charitybot2/data/config/api/cb2_justgiving_api_key.txt