body {
    background-color: rgba(0, 0, 0, 0);
}

.available {
    color: green;
}

.pending {
    color: blue;
}

.unavailable {
    color: red;
}

.info-row {
    padding-top: 50px;
}

#overlay-text {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 1000%;
  color: white;
}

.donation-text {
    font-size: 150%;
}

canvas {
    width: 100%;
    height: auto;
}