.available {
    color: green;
}

.pending {
    color: blue;
}

.unavailable {
    color: red;
}

.info-row {
    padding-top: 50px;
}

.donation-text {
    font-size: 150%;
}

canvas {
    width: 100%;
    height: auto;
}