{% extends "layout.html" %}
{% block optional_head %}
    <script>
        var eventIdentifier = '{{ event_identifier }}';
    </script>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="large-8 large-centered columns">
            <h1 id="event-header" class="text-center"></h1>
        </div>
    </div>
    <div class="row">
        <div class="alert callout" id="event-alert">
              <h5>Error</h5>
              <p>Event with identifier: {{ event_identifier }} does not exist!</p>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-centered columns">
            <div id="statistics-div" class="row">
                 <div class="large-6 columns text-center">
                    Total Raised: <span class="currency-symbol"></span><span id="donation-total"></span>
                </div>
                <div class="large-6 columns text-center">
                    Last Donation: <span id="donation-time-ago"></span> ago
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-centered columns">
            <table id="donations-table" class="hover">
                <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>Timestamp</th>
                    <th>Donor</th>
                    <th>Notes</th>
                    <th>External Reference</th>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
{% block after_body %}
    <script type="text/javascript" src="{{url_for('static', filename='js/event-ui.js')}}"></script>
{% endblock %}