{% extends "layout.html" %}
{% block optional_head %}
    <script>
        var eventIdentifier = '{{ event_identifier }}';
        var apiAddress = '{{ api_address }}';
    </script>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <!--<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>-->
{% endblock %}
{% block body %}
    <div class="row">
        <div class="large-8 large-centered columns">
            <h1 id="eventHeader" class="text-center"></h1>
        </div>
    </div>
    <!-- Alerts row -->
    <div class="row">
        <div class="alert callout" id="event-alert">
              <h5>Event Error</h5>
              <p>Event with identifier: {{ event_identifier }} does not exist!</p>
        </div>
        <div class="alert callout" id="donation-alert">
              <h5>Donation Error</h5>
              <p></p>
        </div>
    </div>
    <!-- Manual donation form -->
    <div class="row">
        <h2 class="text-center">New Donation Form</h2>
    </div>
    <form>
        <div class="row">
            <div class="large-4 columns">
                <label>Donation Amount
                    <input id="new-donation-amount" type="text" placeholder="Enter Amount Here" />
                </label>
            </div>
            <div class="large-4 columns">
                <label>Donor Name
                    <input id="new-donation-donor" type="text" placeholder="Enter Name Here" />
                </label>
            </div>
            <div class="large-4 columns">
                <label>Notes
                    <input id="new-donation-notes" type="text" placeholder="Enter anything else here" />
                </label>
            </div>
            <input id="donation-submit-button" class="button large-12" type="button" value="Submit Donation" onclick="submitDonation();" />
        </div>
    </form>
{% endblock %}
{% block after_body %}
    <script type="text/javascript" src="{{url_for('static', filename='js/event-ui.js')}}"></script>
{% endblock %}