{% extends "layout.html" %}
{% block optional_head %}
    <script>
        var eventIdentifier = '{{ event_identifier }}';
    </script>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    <div>
        <h1>
            <span id="event-header"></span> Donations Console
        </h1>
    </div>
    <div>
        <table></table>
    </div>
{% endblock %}
{% block after_body %}
    <script type="text/javascript" src="{{url_for('static', filename='js/event-ui.js')}}"></script>
{% endblock %}