<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>CharityBot</title>
            <meta name="description" content="CharityBot UI">
            <meta name="author" content="purrcat259">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        {% endblock %}
        {% block optional_head %}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li class="menu-text">CharityBot Donations Console</li>
                    </ul>
                </div>
            </div>
        {% endblock %}
        {% block body %}
        {% endblock %}
    </body>
    {% block after_body %}
    {% endblock %}
</html>