{% extends "layout.html" %}
{% block optional_head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/statistics.css')}}" />
    <script src="{{ url_for('static', filename='js/time.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    <script src="{{ url_for('static', filename='js/currency.js') }}"></script>
    <script>
        var eventIdentifier = '{{ event_identifier }}';
    </script>
{% endblock %}
{% block body %}
        <div class="large-12 text-center header">
            <h1 class="text-center">Charitybot Statistics</h1>
            <h2>{{ event_identifier }}</h2>
        </div>
    <!-- Alerts row -->
    <div class="row">
        <div class="alert callout" id="event-alert">
              <h5>Event Error</h5>
              <p>Event with identifier: {{ event_identifier }} does not exist!</p>
        </div>
    </div>
    <div id="statisticsConsole">
        <!-- Event Progress -->
        <div class="row">
            <div class="large-10 large-centered columns text-center">
                <div class="large-4 columns box">
                    <span>Start Time:</span>
                    <span id="eventStartTime"></span>
                </div>
                <div class="large-4 columns">
                    <span>Progress Bar</span>
                </div>
                <div class="large-4 columns box">
                    <span>End Time:</span>
                    <span id="eventEndTime"></span>
                </div>
            </div>
        </div>
        <!-- Donations Progress -->
        <div class="row">
            <div class="large-10 large-centered columns text-center">
                <div class="large-4 columns box">
                    <span>Amount Raised</span>
                    <span class="currency"></span>
                    <span id="eventAmountRaised"></span>
                </div>
                <div class="large-4 columns">
                    <span>Progress Bar</span>
                </div>
                <div class="large-4 columns box">
                    <span>Target Amount</span>
                    <span class="currency"></span>
                    <span id="eventTargetRaised"></span>
                </div>
            </div>
        </div>
        <!-- Donation Statistics -->
        <div class="row">
            <div class="large-10 large-centered columns text-center">
                <div class="large-4 columns box">
                    <span>Donation Count</span>
                    <span id="donationCount"></span>
                </div>
                <div class="large-4 columns box">
                    <span id="donationCountInTimespan"></span>
                </div>
                <div class="large-4 columns box">
                    <span>Average</span>
                    <span class="currency"></span>
                    <span id="averageDonationAmount"></span>
                </div>
            </div>
        </div>
        <!-- Donation largest / latest -->
        <div class="row">
            <div class="large-10 large-centered columns text-center">
                <div class="large-4 columns box">
                    <span>Largest Donation</span>
                    <span class="currency"></span>
                    <span id="largestDonationAmount"></span>
                </div>
                <div class="large-2 columns"></div>
                <div class="large-4 columns box">
                    <span>Latest Donation</span>
                    <span class="currency"></span>
                    <span id="latestDonationAmount"></span>
                </div>
            </div>
        </div>
        <!-- Graphs -->
        <div class="row">
            <div class="large-6 columns text-center">
                <span>Donations over Time Graph</span>
                <span>COMING SOON</span>
            </div>
            <div class="large-6 columns text-center">
                <span>Donation distribution Graph</span>
                <span>COMING SOON</span>
            </div>
        </div>
    </div>
{% endblock %}
{% block after_body %}
    <script type="text/javascript" src="{{url_for('static', filename='js/statistics.js')}}"></script>
{% endblock %}