{% extends "layout.html" %}
{% block optional_head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/statistics.css')}}" />
    <script>
        var eventIdentifier = '{{ event_identifier }}';
    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <h1 class="text-center">Charitybot Statistics</h1>
    </div>
    <!-- Event Header -->
    <div class="row">
        <div class="large-2 large-centered columns">
            <div class="large-6 columns key-box">
                <span class="box-text">Event</span>
            </div>
            <div class="large-6 columns value-box">
                <span id="eventTitle" class="box-text"></span>
            </div>
        </div>
    </div>
    <!-- Event Progress -->
    <div class="row">
        <div class="large-10 large-centered columns text-center">
            <div class="large-4 columns">
                <span>Start Time</span>
            </div>
            <div class="large-4 columns">
                <span>Progress Bar</span>
            </div>
            <div class="large-4 columns">
                <span>End Time</span>
            </div>
        </div>
    </div>
    <!-- Donations Progress -->
    <div class="row">
        <div class="large-10 large-centered columns text-center">
            <div class="large-4 columns">
                <span>Raised</span>
            </div>
            <div class="large-4 columns">
                <span>Progress Bar</span>
            </div>
            <div class="large-4 columns">
                <span>Target</span>
            </div>
        </div>
    </div>
    <!-- Donation Statistics -->
    <div class="row">
        <div class="large-10 large-centered columns text-center">
            <div class="large-4 columns">
                <span>Total Count</span>
            </div>
            <div class="large-4 columns">
                <span>Donation count in Timespan</span>
            </div>
            <div class="large-4 columns">
                <span>Average</span>
            </div>
        </div>
    </div>
    <!-- Donation largest / latest -->
    <div class="row">
        <div class="large-10 large-centered columns text-center">
            <div class="large-6 columns">
                <span>Largest Donation</span>
            </div>
            <div class="large-6 columns">
                <span>Last Donation</span>
            </div>
        </div>
    </div>
    <!-- Graphs -->
    <div class="row">
        <div class="large-6 columns">
            <span>Donations over Time</span>
        </div>
        <div class="large-6 columns">
            <span>Donation distribution</span>
        </div>
    </div>
{% endblock %}
{% block after_body %}
    <script type="text/javascript" src="{{url_for('static', filename='js/statistics.js')}}"></script>
{% endblock %}