{% extends "layout.html" %}
{% block optional_head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/statistics.css') }}" />
    <script src="{{ url_for('static', filename='js/time.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    <script src="{{ url_for('static', filename='js/currency.js') }}"></script>
    <script>
        var eventIdentifier = '{{ event_identifier }}';
        var apiAddress = '{{ api_address }}';
        var updateDelay = '{{ update_delay }}';
    </script>
{% endblock %}
{% block body %}
    <div class="header dashboard-segment">
        <h1>Charitybot Statistics Dashboard</h1>
        <h2>Event: {{ event_identifier }}</h2>
    </div>
    <!-- Alerts row -->
    <div class="alert-div">
        <h1>Event Error</h1>
        <p id="alertMessageText">Event with identifier: {{ event_identifier }} does not exist!</p>
    </div>
    <div id="statisticsDashboard">
        <!-- Event Progress -->
        <div class="dashboard-segment progress-dashboard">
            <div class="card progress-card start">
                <span>Start Time:</span>
                <span id="eventStartTime"></span>
            </div>
            <div class="card progress-card event-progress">
                <div class="progress" role="progressbar" tabindex="0">
                  <span id="eventProgress" class="progress-meter">
                      <p id="eventProgressText" class="progress-meter-text"></p>
                  </span>
                </div>
            </div>
            <div class="card progress-card end">
                <span>End Time:</span>
                <span id="eventEndTime"></span>
            </div>
        </div>
        <!-- Donations Progress -->
        <div>
            <div>
                <div>
                    <span>Amount Raised</span>
                    <span class="currency"></span>
                    <span id="eventAmountRaised"></span>
                </div>
                <div>
                    <div class="progress" role="progressbar" tabindex="0">
                      <span id="donationProgress" class="progress-meter">
                          <p id="donationProgressText" class="progress-meter-text"></p>
                      </span>
                    </div>
                </div>
                <div>
                    <span>Target Amount</span>
                    <span class="currency"></span>
                    <span id="eventTargetRaised"></span>
                </div>
            </div>
        </div>
        <!-- Donation Statistics -->
        <div>
            <div>
                <div>
                    <span id="donationCount"></span>
                    <span>donations in total</span>
                </div>
                <div>
                    <span id="donationCountInTimespan"></span>
                </div>
                <div>
                    <span>Average</span>
                    <span class="currency"></span>
                    <span id="averageDonationAmount"></span>
                </div>
            </div>
        </div>
        <!-- Donation largest / latest -->
        <div>
            <div>
                <div>
                    <span>Largest Donation</span>
                    <span class="currency"></span>
                    <span id="largestDonationAmount"></span>
                </div>
                <div></div>
                <div>
                    <span>Latest Donation</span>
                    <span class="currency"></span>
                    <span id="latestDonationAmount"></span>
                </div>
            </div>
        </div>
        <!-- Graphs -->
        <div>
            <div>
                <span>Donations over Time Graph</span>
                <span>COMING SOON</span>
            </div>
            <div>
                <span>Donation distribution Graph</span>
                <span>COMING SOON</span>
            </div>
        </div>
    </div>
{% endblock %}
{% block after_body %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/statistics.js') }}"></script>
{% endblock %}