<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CharityBot</title>
        <meta name="description" content="CharityBot Overlay">
        <meta name="author" content="purrcat259">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ticker.css') }}">
        <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
        <script src="{{ url_for('static', filename='js/currency.js') }}"></script>
        <script src="{{ url_for('static', filename='js/time.js') }}"></script>
        <script>
            var eventIdentifier = '{{ event_identifier }}';
            var numberOfDonations = {{ limit }};
            var apiAddress = '{{ api_address }}';
            var updateDelay = {{ update_delay }};
        </script>
    </head>
    <body>
        <div id="ticker-div">
            <table id="ticker-table"></table>
        </div>
        <script src="{{ url_for('static', filename='js/ticker.js') }}"></script>
    </body>
</html>