<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CharityBot</title>
        <meta name="description" content="CharityBot Overlay">
        <meta name="author" content="purrcat259">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/total.css') }}">
        <script>
            var eventIdentifier = '{{ event_identifier }}';
        </script>
    </head>
    <body>
        <h1 id="overlay-text"><span id="overlay-currency"></span><span id="overlay-amount"></span></h1>
        <script src="{{ url_for('static', filename='js/overlay.js') }}"></script>
    </body>
</html>