{% extends 'layout.html' %}
{% block title %}
    Charitybot2 Event Status Console
{% endblock %}

{% block nocache %}
    <!-- Disable caching by emptying the block -->
{% endblock %}

{% block extrahead %}
    <meta http-equiv="refresh" content="30" />
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/api.js') }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/spinner.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row col-md-12">
            <h1 class="text-center">Charitybot Event</h1>
            <h1 id="event_name" class="text-center">{{ event_name }}</h1>
            <div class="sk-rotating-plane" id="loader"></div>
        </div>
        <div class="row donation-text">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="col-md-4 info-row">
                    Amount Raised: <span class="currency_symbol"></span><span id="amount_raised"></span>
                </div>
                <div class="col-md-4 info-row">
                    <span id="last_hour_donation_count"></span> donations in the last hour
                </div>
                <div class="col-md-4 info-row">
                    Last donation: <span class="currency_symbol"></span><span id="last_donation"></span>
                </div>
            </div>
        </div>
        <div class="row donation-text">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="col-md-4">
                    </span><span id="donation_count"></span> donations so far
                </div>
                <div class="col-md-4">
                    Average donation: <span class="currency_symbol"></span><span id="donation_average"></span>
                </div>
                <div class="col-md-4">
                    Largest donation: <span class="currency_symbol"></span><span id="largest_donation"></span>
                </div>
            </div>
        </div>
        <div class="row info-row">
            <canvas id="amountRaisedChart" height="300"></canvas>
        </div>
        <div class="row info-row">
            <canvas id="amountDistributionChart" height="300"></canvas>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn" onclick="switchMode()">Switch to test mode</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block afterbody %}
    <script>
        var api;
        var test_mode = false;
        var api_url = 'http://www.charitybot.net/'
        var test_url = 'http://127.0.0.1:8000/'

        function switchMode() {
            test_mode = !test_mode;
            var new_url;
            if (test_mode) {
                new_url = test_url;
            } else {
                new_url = api_url;
            }
            api = new API(new_url, "{{ event_name }}");
            api.startLoop();
        }

        $(document).ready(() => {
            api = new API(api_url, "{{ event_name }}");
            api.makeApiCalls();
            console.log('Refreshing in 30 seconds');
        });
    </script>
{% endblock %}
