{% extends 'layout.html' %}
{% block title %}
    Charitybot2 Event Status Console
{% endblock %}

{% block nocache %}
    <!-- Disable nocache by emptying the block -->
{% endblock %}

{% block extrahead %}
    <meta http-equiv="refresh" content="30" />
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stats_console.js') }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/spinner.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="sk-rotating-plane" id="loader"></div>
        <div class="row text-center">
            <h1>Charitybot Event Statistics Console</h1>
        </div>
        <!-- Event Details -->
        <h1 class="text-center">Event: <span id="event_name">{{ event_name }}</span></h1>
        <div class="row text-center donation-text">
            <div class="col-md-3 col-md-offset-3">
                Start Time: <span id="event-start"></span>
            </div>
            <div class="col-md-3">
                End Time: <span id="event-end"></span>
            </div>
        </div>
        <div class="row text-center donation-text">
            <div class="col-md-3 col-md-offset-3">
                Duration: <span id="event-length"></span> hours
            </div>
            <div id="event-time-remaining-column" class="col-md-3">
                Time Remaining: <span id="event-remaining"></span> hours
            </div>
        </div>
        <!-- Event Progress Bar -->
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 ">
                <div class="progress">
                    <div id="event-progress" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <h1>Donations</h1>
        </div>
        <!-- Amounts Details -->
        <div class="row text-center donation-text">
            <div class="col-md-2 col-md-offset-4">
                Amount Raised: <span class="currency-symbol"></span><span id="amount-raised"></span>
            </div>
            <div class="col-md-2">
                Target Amount: <span class="currency-symbol"></span><span id="target-amount"></span>
            </div>
        </div>
        <!-- Amounts Progress Bar -->
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 ">
                <div class="progress">
                    <div id="amount-progress" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <!-- Donations Details -->
        <div class="row text-center donation-text">
            <div class="col-md-6 col-md-offset-3">
                <span id="total-donation-count"></span> donations in total
            </div>
        </div>
        <div class="row text-center donation-text">
            <div class="col-md-6 col-md-offset-3">
                <span id="donation-count"></span> donations in the last <span id="donation-timespan"></span>
            </div>
        </div>
        <div class="row text-center donation-text">
            <div class="col-md-6 col-md-offset-3">
                Average Donation: <span class="currency-symbol"></span><span id="average-donation"></span>
            </div>
        </div>
        <div class="row text-center donation-text">
            <div id="largest-donation-column" class="col-md-6 col-md-offset-3">
                Largest Donation: <span class="currency-symbol"></span><span id="largest-donation"></span> at: <span id="largest-donation-timestamp"></span>
            </div>
        </div>
        <div class="row text-center donation-text">
            <div id="last-donation-column" class="col-md-6 col-md-offset-3">
                Last Donation: <span class="currency-symbol"></span><span id="last-donation"></span> at: <span id="last-donation-timestamp"></span>
            </div>
        </div>
        <div class="row info-row">
            <div class="col-md-6">
                <canvas id="amountRaisedChart"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="amountDistributionChart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Console Version: {{ console_version }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn" onclick="switchMode()">Switch to test mode</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block afterbody %}
    <script>
        var api;
        var test_mode = {{ debug_mode }};
        console.log('Test mode: ' + test_mode);
        var api_url = 'http://www.charitybot.net/'
        var test_url = 'http://127.0.0.1:8000/'

        function switchMode() {
            test_mode = !test_mode;
            console.log('Test mode: ' + test_mode);
            var new_url;
            if (test_mode) {
                new_url = test_url;
            } else {
                new_url = api_url;
            }
            new_url += 'api/v1/';
            api = new API(new_url, "{{ event_name }}");
            api.makeApiCalls();
        }

        $(document).ready(() => {
            api = new API(api_url + 'api/v1/', "{{ event_name }}");
            api.makeApiCalls();
            console.log('Refreshing in 30 seconds');
        });
    </script>
{% endblock %}
