{% extends 'layout.html' %}
{% block title %}
    Charitybot2
{% endblock %}
{% block body %}
    <h1>CharityBot2 Temporary Landing Page</h1>
    <p>
        Hi There! This is a temporary page setup during CB2's public beta test for Gameblast 2017.
        If you need to get in contact with someone in charge, you can try the following links:
    </p>
    <ul>
        <li><a href="https://twitter.com/purrcat259">Twitter</a></li>
        <li><a href="https://github.com/purrcat259/charitybot2">GitHub Repository</a></li>
        <li><a href="https://www.gameblast17.com/">Gameblast 2017</a></li>
    </ul>
{% endblock %}
