<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Charitybot2
        {% endblock %}
    </title>
    <!-- Required for bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block nocache %}
        <!-- Avoid caching on all browsers -->
        <!-- Reference: https://stackoverflow.com/questions/49547/making-sure-a-web-page-is-not-cached-across-all-browsers -->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    {% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% block js %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% block css %}
    {% endblock %}
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
{% block afterbody %}
{% endblock %}
</html>