<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Charitybot2
        {% endblock %}
    </title>
    <!-- Required for bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block nocache %}
        <!-- Avoid caching on all browsers -->
        <!-- Reference: https://stackoverflow.com/questions/49547/making-sure-a-web-page-is-not-cached-across-all-browsers -->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    {% endblock %}
    {% block jquery %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% endblock %}
    {% block bootstrap %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% endblock %}
    {% block js %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% block css %}
    {% endblock %}
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
{% block afterbody %}
{% endblock %}
</html>