{% extends 'layout.html' %}
{% block title %}
    Charitybot2 Overlay
{% endblock %}
{% block body %}
    <div id="overlay-text">
        <span id="currency_symbol" class="pending">{{ currency_symbol }}</span><span id="amount_raised" class="pending">{{ amount_raised }}</span>
    </div>
{% endblock %}
{% block afterbody %}
    <script src="{{ url_for('static', filename='js/overlay_update.js') }}"></script>
    <script>
        setInterval(() => {
            setCurrency("{{ event_name }}");
            setDonationAmount("{{ event_name }}");
        }, 4000);
    </script>
{% endblock %}
