{% extends 'layout.html' %}
{% block title %}
    Charitybot2 Overlay
{% endblock %}
{% block nocache %}
{% endblock %}
{% block extrahead %}
    <meta http-equiv="refresh" content="5" />
{% endblock %}
{% block body %}
    <div id="overlay-text">
        <span id="currency_symbol">{{ currency_symbol }}</span><span id="amount_raised">{{ amount_raised }}</span>
    </div>
{% endblock %}
{% block afterbody %}
    <script>
        console.log('Refreshing in 5 seconds');
    </script>
{% endblock %}
