{% extends "layout.html" %}
{% block body %}
    <div class="header">
        <h1 id="event_name">
            {{ event_data['name'] }}
        </h1>
    </div>
    <div class="overview">
        <h1>Event overview</h1>
        <ul>
            <li>
                Number of donations: <span id="donation_count">{{ event_data['donation_count'] }}</span>
            </li>
            <li>
                Average donation amount: <span id="donation_average">{{ event_data['donation_average'] }}</span>
            </li>
            <li>
                Largest donation: <span id="largest_donation">{{ event_data['largest_donation'] }}</span>
            </li>
        </ul>
    </div>
    <div class="recent">
        <h1>Recent Donations</h1>
        <ul>
            {% for recent_donation in event_data['recent_donations'] %}
                <li>{{ recent_donation }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}