{% extends "layout.html" %}
{% block body %}
    <div class="header">
        <h1 id="event_name">
            {{ event_data['name'] }}
        </h1>
    </div>
    <div class="overview">
        <ul>
            <li>
                Number of donations: <span id="donation_count">{{ event_data['donation_count'] }}</span>
            </li>
            <li>
                Average donation amount: <span id="donation_average">{{ event_data['donation_average'] }}</span>
            </li>
        </ul>
    </div>
{% endblock %}