html, body {
    background-color: #ECF0F1;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

h1, h2 {
    margin: 0;
}

#alertDiv {
    display: none;
    background-color: #e74c3c;
}

.card {
    font-size: 1.5em;
    background-color: #ECF0F1;
    color: #fff;
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
