html, body {
    background-color: #ECF0F1;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

h1, h2 {
    margin: 0;
}

.header {
    padding: 1em 1em;
    margin: 0;
    background-color: #fff;
}

#alertDiv {
    display: none;
    background-color: #e74c3c;
}

.card {
    font-size: 1.5em;
    background-color: #ECF0F1;
    color: #fff;
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.dashboard-segment {
    margin: .25em 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
}

.progress-dashboard {
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 1em 0;
    text-align: center;
}

.flex-dashboard {
    display: flex;
}

.flex-dashboard div {
    flex-basis: 100%;
}

.progress-card {
    margin: 0 auto;
}

.red {
    width: 30%;
    background-color: #e74c3c;
}

.green {
    background-color: #27ae60;
}

.white {
    color: #000;
    background-color: #fff;
}

.progress-bar {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
}

.blue {
    width: 30%;
    background-color: #3498db;
}

.chart {
    margin-top: 1em;
    height: 40vh;
}

.chart-canvas {
    height: 35vh;
}
