.key-box {
    color: white;
    background-color: blue;
    min-height: 20px;
    text-align: center;
}

.value-box {
    color: white;
    background-color: red;
    min-height: 20px;
    text-align: center;
}

.box-text {
    text-align: center;
    margin: auto;
    vertical-align: middle;
    width: 50%;
}