html, body {
    background-color: #ECF0F1;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
}

.header {
    padding: 1em 1em;
    margin: 0;
    background-color: #fff;
}

.alert-div {
    display: none;
}

.card {
    font-size: 1.5em;
    background-color: #ECF0F1;
    color: #fff;
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.dashboard-segment {
    margin: .25em 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
}

.progress-dashboard {
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 1em 0;
    text-align: center;
}

.progress-card {
    margin: 0 auto;
}

.start {
    width: 30%;
    background-color: #e74c3c;
}

.event-progress {
    width: 50%;
    background-color: #27ae60;
}

.end {
    width: 30%;
    background-color: #3498db;
}
