html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#overlay-text {
  vertical-align: middle;
  width: 100%;
  height: auto;
  max-height: 100%;
  line-height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
}

#overlay-amount {
  font-size: 15vw;
  line-height: 100vh;
  height: 100%;
}

.currency {
  height: 100%;
  line-height: 100vh;
  font-size: 15vw;
  vertical-align: middle;

}
